.login {
    background-color: #FFFFFF;
    
    width: 300px;
    border: 5px #080d5bd1;
    border-radius: 5px;
    border-style: ridge;
    margin: auto;
    margin-top: 80px;
        
}
.loginSign {
    
    background-color: #db192c;
    color: #FFFFFF;
    padding: 3px;
    text-align: center;
}
.userBox {
    margin: 30px;
}
.box1 {
    border: 2px solid black;
    border-radius: 5px;
    
}
.box2 {
    border: 2px solid black;
    margin-left: 6px;
    border-radius: 5px;
    
}
.box3 {
    border: 2px solid black;
    border-radius: 5px;
    
    
}
.box4 {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    
    
}
.classNameText {
    font-family: Arial, Helvetica, sans-serif;
    
}
.anotherText{
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
    border: 2px solid #395051;
    background-color: #395051;
    margin: auto;
    border-radius: 5px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 80%;
    margin-left: 10%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.submit {
    background-color: #b0a6a7;
    color: #333333;
    padding: 3px;
    
    margin-left: 100px;
}
.invalid {
    text-align: center;
    font-size: 11px;
    color: #cc0000;
    margin-top: 10px;
}
.btn-link {
    background-color: #b0a6a7;
    color: #ea1818;;
    padding: 3px;
    
    
    
}
.btn-link2 {
    background-color: #b0a6a7;
    color: #ea1818;;
    padding: 3px;
    font-size:20px;
    
}
.body {
min-width:200px; // Suppose you want minimum width of 1000px
   _width: expression( document.body.clientWidth > 200 ? "1000px" : "auto" );
  background-color: #f0dfbd9c;
  padding: 20px;
  resize: both;
  overflow: auto;
  background: url(zdjecie1.jpg) no-repeat center fixed; 
  background-size: cover;
}
.column {
    display: inline-block;
    margin: auto;
    word-wrap:break-word;
    width: 20%;
    font-size: 20px;
    background-color:#eee;
    border: 2px solid blue;
    box-sizing: border-box;
    margin-top:20px;
    margin-right:20px;
  /*column-count: 3;
  column-gap: 30px;
  column-rule-style: solid;*/
}
.wiersz {
    
    margin-left: 10px;
    margin-top: 20px;
    
}
.dodawanie{
    margin-left: 40px;
    margin-top:40px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top:20px;
}
    



/* Smartphones (portrait and landscape) ---------- */
/*@media screen and (min-width: 320px) and (max-width: 480px){
        
   .container {
    
}
}*/
/* Smartphones (portrait) ---------- */
/*@media screen and (min-width: 100px) and (max-width: 320px){
     .container {
    
}
}*/
/* Smartphones (landscape) ---------- */
/*@media screen and (min-width: 321px) and (max-width: 600px){
 .container {
        
    }
}*/
.container {
    margin-top:45px;
    margin: 0 auto;
    width: 80%;
    background: #2aa3d242;
    box-sizing: border-box;
    text-align: center;
    min-width:300px;
}
/* Mobile phones (portrait and landscape) ---------- */
/*@media screen and (max-width: 767px){
    .container {
       
    }
}*/
/* Tablets and iPads (portrait and landscape) ---------- */
@media screen and (max-width: 768px) {
    .container {
        background-color: #0ab7dfb3;
    }
    .box4 {
    width: 177px;
  height: 47px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  
 }
 .column {
    display: inline-table;
    margin-top: 20px;
    margin-left: 20px;
 
}

}
/* Low resolution desktops and laptops ---------- */
/*@media screen and (min-width: 1024px) {
    .container {
        
    }
}*/
/* High resolution desktops and laptops ---------- */
/*@media screen and (min-width: 1280px) {
    .container {
        
    }
}
